.App {
  max-width: 600px;
  background: linear-gradient(
    109.6deg,
    rgb(177, 173, 219) 11.2%,
    rgb(245, 226, 226) 91.1%
  );
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
}
