.App {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(248, 219, 219) 0%,
    rgb(229, 248, 250) 90%
  );
  display: block;
  margin: 0 auto;
  padding: 20px;
  font-family: calibri;
}

@media (max-width: 960px) {
  footer {
    font-size: 8px;
  }
}
