section {
  background: white;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Dictionary input {
  display: block;
  margin: 0 auto;
  width: 90%;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid gray;
  margin-top: 10px;
}
